.hha-pokerhand-card-value,
.hha-pokerhand-card-suit {
  font-family: verdana;
  font-size: 13px;
}
.hha-pokerhand-card-suit {
  margin-right: 2px;
  font-size: 15px;
}
.hha-pokerhand-card-suit-s {
  color: black;
}
.hha-pokerhand-card-suit-c {
  color: green;
}
.hha-pokerhand-card-suit-d {
  color: blue;
}
.hha-pokerhand-card-suit-h {
  color: red;
}
